
.hrdivider {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .hrdivider span {
    position: absolute;
    top: -14px;
    background: #fde0a6;
    color: grey;
    padding: 0 10px;
    font-size: 16px;
  }