.register{
    padding: 3%;
    border-width: 1px;
    border-radius: 70px;
    box-shadow: 10px 10px 10px rgb(24, 20, 31);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto; 
    margin-top: 4%;
    border: 1px solid white;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
} 
input{
    text-indent:14px;
}
.form-control:hover{
    border: 1px solid #532622;
    background-color: rgba(15, 14, 14, 0.836);
    color: white;
}
.register .register-form{
    padding: 8%;
    margin-top: 10%;
}
.btnsignup{
    border: none;
    border-radius: 1.5rem;
    margin-left: 50px;
    padding: 2%;
    background: #773731;
    color: rgb(242, 243, 234);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    cursor: pointer;
}
.btnsignup:hover{
    background:  #572420fa;
}
.register-heading{
    text-align: center;
    margin-top: 6%;
    margin-bottom: -15%;
    color: white;
    font-size: 50px;
}
