<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="/images/icon.jpg">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
  <style>
    body{
      background-color: #eec0bc;
    }
    .images{
      width:150px;
      height:150px;
      border: 1px solid black;
      box-shadow: 10px 10px 20px rgb(24, 20, 31);
    }
    h3{
      margin-top: 7%;
    }
    img{
      box-shadow: 10px 20px 20px rgb(24, 20, 31);
    }
    .animate{
      animation:ease-in;
    }
  </style>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"  style="background-color: #f6dddb;"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container" >
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel" style="background-color: rgba(255, 255, 255, 0.459);">

        <div class="panel-body" >
          
          
          
          <!--/stories-->
          <!-- <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/images/prince.jpg" class="img-circle images"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>The Little Prince</h3>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/images/dream.jpg" class="img-circle images"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Dream of the Red Chamber</h3>
              <br><br>
            </div>
          </div>
          <hr>
                  
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="images/hobbit.jpg"  class="img-circle images"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>The Hobbit</h3>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="images/none.jpg"  class="img-circle images"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>And Then There Were None</h3>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="images/lion.jpg"  class="img-circle images"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>The Lion, the Witch and the Wardrobe</h3>
              <br><br>
            </div>
          </div>
          <hr> -->
          <!--/stories-->
          
          <div class="card fade-in"  style="text-align: center;">
            <img src="/images/q1.jpg"  alt="..." data-mdb-toggle="animation" class="animate" style="width:40rem;">
          </div><br><br>
 
          <div class="card">
            <img src="/images/q3.jpg"  alt="..." style="float: right;width:50rem;"><br>
          </div><br>

          <div class="card" >
            <img src="/images/q2.jpg"  alt="..." style="width:40rem;">
          </div><br><br>

          <div class="card" >
            <img src="/images/q4.jpg"  alt="..." style="float: right;width:40rem;">
          </div><br><br>

          <div class="card" >
            <img src="/images/q5.jpg"  alt="..." style="width:50rem;">
          </div><br><br>

          <div class="card"   style="text-align: center;">
            <img src="/images/q6.jpg"  alt="..."  style="width:40rem;">
          </div><br><br>
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>