<!DOCTYPE html>
<html lang="en">
	<head>
    <link rel="stylesheet" href="css/newbook.css">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="/images/icon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <link href="css/styles.css" rel="stylesheet">
	</head>
  <style>
  body{
    background-image: url(images/backg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
  body::after {
    display: block;
    position: relative;
    backdrop-filter: brightness(50%);
    content: "";
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    }

.form-control{
     border: none;
     border-bottom:2px solid rgb(212, 182, 137);
     
      }
.choices__inner{
  background-color:rgba(0,0,0,0) !important;
  color: blanchedalmond;
  border: none;
  border-bottom:2px solid rgb(212, 182, 137);
}
.choices__inner:hover{
  background-color:rgba(0, 0, 0, 0.315) !important;
  border: none;
  border-bottom:2px solid rgb(211, 130, 64);
}
.choices__list--multiple .choices__item{
  background-color:  rgb(211, 130, 64);
  border: 1px solid brown;
}

.fa{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.534);
}
</style>
	<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/index" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <%for(i=0;i<nav.length;i++){%>
            <li>
              <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
            </li>
            <%}%>
          </ul>
          <ul class="nav navbar-right navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
              <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                  <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
<form action="/admin_author/add" method="POST" onsubmit="return validate()">
  <div class="container addbook" style="background-color: rgba(0, 0, 0, 0.884);">
    <h3 class="addbook-heading">Add New Author</h3>
    <div class="row addbook-form">
      <div class="col-md-2">
        <label>Name</label>
      </div> 
      <div class="col-md-10">
        <div class="form-group">
          <input type="text" id="name" name="name" class="form-control" onkeyup="namevald()" style=" color: blanchedalmond;" placeholder="Name of the author*"   required>
          <span id="error1" style="color: red;font-size: 13px;"></span>
        </div>
      </div>
      <div class="col-md-2">
        <label>Description</label>
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <input type="text" id="desp" name="description" class="form-control" onkeyup="despvald()" style=" color: blanchedalmond;" placeholder="Description of Author* (eg: American author)"  required>
          <span id="error2" style="color: red;font-size: 13px;"></span>
        </div>
      </div>
      <div class="col-md-2">
        <label>Genres</label>
      </div>
      <div class="col-md-10">
        <div class="row d-flex mt-100">
          <div class="col-md-12 "> 
            <select id="choices-multiple-remove-button" name="genre" class="choices" onchange="valid()" placeholder="Click here to select the genres*" multiple style=" color: rgb(17, 15, 11);" required>
                  <option value="Fiction" >Fiction</option>
                  <option value="Mystery" >Mystery</option>
                  <option value="Thriller">Thriller</option>
                  <option value="Action">Action</option>
                  <option value="Romance">Romance</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Supernatural">Supernatural</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Historical">Historical</option>
                  <option value="Comedy">Comedy</option>
                  <option value="Tragedy">Tragedy</option>
                  <option value="Crime">Crime</option>
                  <option value="Biography">Biography</option>
                  <option value="Young adult fiction">Young Adult Fiction</option>
                  <option value="Drama">Drama</option>
                  <option value="Childrens Literature">Childrens Literature</option>
                  <option value="Science">Science</option>
                  <option value="Novel">Novel</option>
              </select> 
              <span id="error3" style="color: red;font-size: 13px;"></span>
            </div>
         </div>
      </div>
      <div class="col-md-2">
        <label>About</label>
      </div>
      <div class="col-md-10">
         <textarea class="form-control z-depth-1" name="about" style=" color: blanchedalmond;" id="exampleFormControlTextarea6" rows="3" placeholder="About the author*" required></textarea>
      </div>
      
      <label>Choose a cover image </label> <br>
      <input type="text" name="image" id="imageload" onkeyup="show()" onpaste="paste()" class="form-control"  placeholder="Copy and paste the image address*"  style=" color: blanchedalmond;" title="Choose a cover image for the book" required><br>
        <!-- <input type="file" name="image" id="fileinput" onchange="showfiles()" accept="image/*" required>
        <br><br><br>
        <label for="fileinput" class="btnfile" style=" background: -webkit-linear-gradient(right,#080808, #8861268e);" title="Choose a cover image for the book">Choose a cover image
          <span id="error4" style="color: red;font-size: 13px; float: right;margin-top: 10%;"></span>
        </label> &nbsp;&nbsp; -->
        <!-- <span id="delete" ></span> -->
        <img id="preview" src="/images/bookplaceholder.jpg" onclick="show()" style="cursor: pointer;">
       
        <input type="submit" class="btnnewbook" onclick="valid(),imgchange()" value="Add">
      </div>
   
   
 
  </div>
</div>
</div>  
</form>
<!-- ./form-->

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){

var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
removeItemButton: true,
maxItemCount:18,
searchResultLimit:18,
renderChoiceLimit:18
});


});

function paste(){
    $("#imageload").attr("title","click here for image to load");
    $("#preview").attr("title","click here for image to load");
}

function show(){
  let inputfield = document.getElementById("imageload");
  let imgurl = inputfield.value;
  if((imgurl) == ""){
    $("#preview").attr("src" , "/images/bookplaceholder.jpg");
  }
  else{
    $("#preview").attr("src" , `${imgurl}`);
    $("#preview").css("opacity","10");
    // $("#delete").html("<p class='deleted' onclick='todelete()' title='Click here to delete the image'><i class='fa fa-window-close' ></i></p>"); 

  }
  
}


  // function showfiles(){
  //   let inputfield = document.getElementById("fileinput");
  //   let file = inputfield.files;

  //   let filereader = new FileReader;
  //   filereader.onload = function(event){
  //     let imageurl = filereader.result;
  //     $("#preview").attr("src" , `${imageurl}`)
  //     $("#preview").css("opacity","10");
  //     error4.innerHTML="";
  //     $("#delete").html("<p class='deleted' onclick='todelete()' title='Click here to delete the image'><i class='fa fa-window-close' ></i></p>"); 

  //   }
  //   filereader.readAsDataURL(file[0]);
  // }

  //name validation
let fname = document.getElementById("name");
let error1 = document.getElementById("error1") ;

let names =/^([A-Za-z\. ]+)$/;

function namevald(){
  let fname = document.getElementById("name");
  let error1 = document.getElementById("error1") ;

    if((names.test(fname.value))!=1){
      error1.innerHTML="Please enter valid name";
    }
    else{
      error1.innerHTML="";
    }
}

function despvald(){
  let fname = document.getElementById("desp");
  let error2 = document.getElementById("error2") ;

  if((names.test(fname.value))!=1){
      error2.innerHTML="Can only be alphabets";
    }
    else{
      error2.innerHTML="";
    }

}
function valid(){
  let error3 = document.getElementById("error3") ;
  
  if($( ".choices option:selected" ).text() == ""){
     error3.innerHTML="Please choose the genres";
    }else{
    error3.innerHTML="";
  }
}

function imgchange(){
  let error4 = document.getElementById("error4") ;
  if($("#preview").attr("src") == "/images/bookplaceholder.jpg"){
    error4.innerHTML="Please choose the cover image";
  }
}

function todelete(){
  $("#preview").attr("src","/images/bookplaceholder.jpg");
  $("#delete").html(""); 
  $("#preview").css("opacity","0.6");
}
</script>
	</body>
</html>